/*Seção da aba destaque*/
.destaque
{
    border: 1px solid rgba(194, 89, 4, 0.774);
    margin-top: 55px;
}
/*Estrelas*/
.estrelas
{
    margin-top: 50px;
}
.estrelas a{
    display: block;
    color: black;
}
.estrelas input[type=radio]
{
    display: none;
}
.estrelas label i.fa:before{
    content: '\f005';
    color: #fc0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before
{
    color: #CCC;
}
/*Gênero*/
.genero ol
{
    font-weight: bold;
}
.genero li
{
    width: 19%;
    margin-left: 30px;
    padding-left: 16px;
    margin-bottom: 25px;
    text-align: center;
}
.genero a
{
    font-size: 20px;
}
/*Lançamento*/
.lancamento
{
    width: 700px;
    margin-top: 30px;
}
.lancamento table
{
    width: 700px;
    padding-left: 15px;
    border-spacing: 0;
    padding-right: 15px;
}
.titulo tr
{
    display: flex;

}
.titulo th
{
    text-align: left;
    color:  rgba(194, 89, 4, 0.774);
}
.lancamento a
{
    color: black;
}
.lancamento th, td
{
    border-bottom: 1px solid #999!important;
}
.lancamento nav
{
    padding-bottom: 10px;
}
/*Notícia*/
.noticia
{
    position: relative;
    width: 400px;
    float:right;
    bottom: 41em;
}
.noticia img
{
    width: 390px;
    height: 100px;
    padding-left: 5px;
}
.noticia h3
{
    color: rgb(0, 47, 255);

    text-align: justify;
    font-weight: bolder;
    font-size: 15px;

    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.noticia p
{
    margin: 10px 10px;
    text-align: justify;
    font-size: 15px;
}
.noticia a
{
    padding-left: 300px;
}
/*REcomendado*/
.recomendado{
    position: relative;
    float: right;
    width: 400px;
    left: 400px;
    bottom: 17em;
}
.recomendado .estrelas
{
    margin-top: 17px;
}
.wrapper nav
{
    padding-bottom: 1rem;
    height: 5em;
}